* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    display: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('images/double.jpeg') no-repeat center center/cover;
}

#game-intro {


    padding: 15px 32px;

}


#title {

    display: flex;
    position: relative;
    top: 10px;
    left: 535px;

}

#rectangle {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 112vh;
    width: 200vh;
    max-width: 450px;
    position: relative;
    left: 400px;
    border: 4px solid black;
    bottom: 100px;
    top: -50px
}


#instructions-container {

    display: flex;
    position: relative;
    left: 480px;
    bottom: 600px;

}

#colors {

    display: flex-start;
    position: relative;
    bottom: 550px;
    left: -10px
}


#start {


    display: block;
    font-family: 'Lucida Sans';
    color: #570fff;
    position: relative;
    left: 590px;
    width: 50px;
    height: 50px;
    top: 150px;
}


#game-container {


    display: flex;
    background: url(images/white.avif) no-repeat center/cover;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 112vh;
    width: 200vh;
    max-width: 450px;
    position: relative;
    left: 400px;
    border: 4px solid black;
    bottom: 100px;
    top: -150px
}

.score {
    display: "display";
    position: relative;
    left: -90px;
    height: 200px;
    top: -200px;
}

.timer {
    display: "display";
    position: relative;
    left: 280px;
    height: 200px;
    top: -200px;
}


#reset {


    display: block;
    font-family: 'Lucida Sans';
    color: #ff630f;
    position: relative;
    left: -130px;
    width: 50px;
    height: 50px;
    top: 190px;
}



#circle {

    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #011fb5;
    border-radius: 50%;
    position: relative;
    left: -40px;
    top: -50px;
}